<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387005149599-h91c5rfevv09aaifrpf5ul559mncuopt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387005149599-h91c5rfevv09aaifrpf5ul559mncuopt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>387005149599-dpmnevn6mcfe70c150q2ha7mpdiedjf0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAQaq_0z48Oiqu63ZFfsk5dLF5QqHpLWb8</string>
	<key>GCM_SENDER_ID</key>
	<string>387005149599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.greencare.customer</string>
	<key>PROJECT_ID</key>
	<string>greencare-937c2</string>
	<key>STORAGE_BUCKET</key>
	<string>greencare-937c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387005149599:ios:1335483c3b3c6c389e8daa</string>
</dict>
</plist>